/* Login.css */

.login-container {
    position: relative;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Style for email and password input fields */
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 25px; 
    font-size: 16px;
    outline: none; 
    background: linear-gradient(to right, #f7f7f7, #bb8bda); 
    color: rgb(7, 7, 7); 
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .checkbox-container input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .checkbox-container span {
    font-size: 14px;
    color: #555;
  }
  
  button[type="submit"] {
    padding: 12px;
    background-color: #a158fa;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #5c00b3;
  }
  