* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  /* background-color:#2B9AFB; */
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: white; 

}

ul {
  list-style: none;
}

.footer {
  background-color: #2b9afb;
  margin-top: 100px;
  padding: 70px 0;
}

.footer-col {
  width: 20%;
  padding: 0 20px;
}

.footer-col h4 {
  font-size: 18px;
  color: #2b9afb;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 800;
  position: relative;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font: size 18px;
  color: #2b9afb;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer-col .social-links {
  display: flex;
  flex-direction: column;
}
.footer-col .social-links p {
  font-family: "Roboto";
  /* font-style: normal; */
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  color: #2b9afb;
  /* padding: 5px; */
}

.footline {
  background-color: #0669c0;
  bottom: 0;
  height: 50px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  align-items: right  ;
  justify-content: space-between;
  
}

.footline p {
  display: flex;
  color: #ffffff;
  margin-top: 10px;
  align-items: center;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .footline p {
    margin-left: 18px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
  .footer {
    width: 100%;
  }
  .txt {
    margin-top: 10px;
    margin-left: 10px;
  }
}

.payIcon {
  float: right;
  margin-top: -40px;
  margin-right: 10px;
}

.payIcon img {
  height: 20px;
  width: 130px;
}

/* newsletter */
.box {
  align-content: flex-start;
  background: #0669c0;
  display: flex;
  height: 100px;
  color: #ffffff;
  text-align: center;
  margin-top: -122px;
  width: 70%;
  margin: 0 auto;
  margin-top: -122px;
}
.txt {
  margin-top: 35px;
  margin-left: 75px;
}

.frm {
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-right: 50px;
}
input{
  width: 100%;
  padding: 10px;
  margin: -50px ;
  border-radius: 5px;
  border: 10px green;
  outline: none;
}
button{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 10px green;
  background-color: #5286b8;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  position: right;
}
