.event-description {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background: linear-gradient(135deg, #f8d7ff, #d7d7ff); /* Softer gradient background */
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Enhanced box shadow */
  animation: fadeIn 1s ease; /* Fade-in animation */
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.event-header {
  text-align: center;
  margin-bottom: 30px;
  color: #333; /* Dark gray text color */
}

.event-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease; /* Transform animation */
}

.event-image:hover {
  transform: scale(1.05); /* Scale-up effect on hover */
}
.event-details {
  margin-bottom: 20px;
  color: #555; /* Soft text color */
}

.details-item {
  display: flex;
  margin-bottom: 10px;
}

.details-item span {
  width: 120px;
  font-weight: bold;
  color: #888; /* Lighter text color for labels */
}

.details-item p {
  margin: 0;
  color: #333; /* Darker text color for description */
}

.map-toggle {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #b6d9ff; /* Soft blue button color */
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.map-toggle:hover {
  background-color: #f7d4e8; /* Soft pink button color on hover */
}

.map {
  margin-top: 20px;
}

/* General Admission Styles */
.general-admission-container,
.ballet-section,
.reserve-spot-container {
  margin-top: 20px;
}

.general-admission h2,
.reserve-button,
.back-button {
  font-size: 20px;
  color: #333;
}

.reserve-button,
.back-button {
  padding: 12px 24px;
  border: none;
  background-color: #b6d9ff; /* Soft blue button color */
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.reserve-button:hover,
.back-button:hover {
  background-color: #f7d4e8; /* Soft pink button color on hover */
}
